/*@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');*/
@import url("https://fonts.googleapis.com/css?family=Satisfy|Exo+2&display=swap");
/*-----------------------------------------------------Header*/

.header {
  margin: 0;
}

.logo {
  background: url("../images/hhs-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  max-height: 360px;
}

.logo:hover {
  text-decoration: none;
}

.name {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: "Exo2", sans-serif;
  font-size: 75px;
  font-weight: 700;
  padding-left: 120px;
}

.motto {
  color: #fff;
  font-family: "Satisfy", sans-serif;
  padding-left: 180px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  text-align: center;
  padding: 1% 2%;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: "Exo 2", sans-serif;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}

.navbar a:active {
  background-color: #4caf50;
}

/*-----------------------------------------------------Home/Index*/

.home-image {
  width: 100%;
}

.about-us {
  background-color: #4caf50;
  color: white;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  min-height: 300px;
  padding: 20px 100px 20px 100px;
}

.btn-secondary {
  background-color: #555;
  margin: 0 20px 0 20px;
  font-family: "Exo 2", sans-serif;
}

/*-----------------------------------------------------Services*/

.services-intro {
  text-align: center;
  margin: 20px 40px 20px 40px;
  font-family: "Exo 2", sans-serif;
}

.camera-image {
  background: url("../images/hikvision-camera2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.alarm-image {
  background: url("../images/alarm2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.access-control-image {
  background: url("../images/access-control2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.fire-alarm-image {
  background: url("../images/fire-alarm2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.services-description {
  margin-top: 20px;
  border-radius: 30px;
  background: #555;
  color: white;
  padding: 20px;
  border: 4px solid #4caf50;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

/*-----------------------------------------------------Our Work*/

.carousel {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews-left {
  margin-top: 20px;
}

.reviews-left p {
  font-size: 16px;
  margin-left: 5%;
}

.reviews-left i {
  margin-left: 5%;
  color: goldenrod;
  font-size: 16px;
}

.reviews-right {
  margin-top: 20px;
}

.reviews-right p {
  font-size: 16px;
  margin-right: 5%;
  text-align: right;
}

.reviews-right i {
  margin-right: 5%;
  color: goldenrod;
  font-size: 16px;
}

.quote {
  font-family: "Exo 2", sans-serif;
}

.signature {
  font-family: "Satisfy", sans-serif;
}

/*-----------------------------------------------------Contact*/

.enquiry-form-header {
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Exo 2", sans-serif;
}

.form-group {
  padding-left: 20px;
  font-family: "Exo 2", sans-serif;
}

.map-header {
  padding-top: 20px;
  font-family: "Exo 2", sans-serif;
}

.map {
  padding-bottom: 20px;
}

/*-----------------------------------------------------Footer*/

footer {
  background-color: #555;
  color: #fff;
  min-height: 120px;
  padding-top: 20px;
  font-family: "Exo 2", sans-serif;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 17px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background: #4caf50;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #000;
}

.email {
  color: #fff;
  text-align: center;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.email:hover {
  color: #4caf50;
}

/*-----------------------------------------------------Media Queries*/

/* On screens that are 375px or less (Mobile S)*/
@media screen and (min-width: 320px) and (max-width: 375px) {
  .navbar i {
    display: none;
  }

  .name {
    text-align: center;
    margin-top: 70px;
    padding: 0;
    font-size: 50px;
  }

  .motto {
    text-align: center;
    padding: 0;
    font-size: 28px;
  }

  .about-us {
    padding: 15px;
    font-size: 14px;
  }

  .services-intro {
    margin: 10px;
    font-size: 14px;
  }

  .services-description {
    font-size: 14px;
  }

  .map {
    width: 100%;
    padding: 10px;
  }

  .form-group {
    padding: 10px;
  }

  .enquiry-form-header {
    padding: 20px 0 0 5px;
  }

  .btn-secondary {
    margin: 0 10px 0 10px;
  }

  footer {
    font-size: 14px;
  }
}

/* On screens that are 425px or less (Mobile)*/
@media screen and (max-width: 425px) and (min-width: 375px) {
  .navbar i {
    display: none;
  }

  .name {
    text-align: center;
    margin-top: 70px;
    padding: 0;
    font-size: 50px;
  }

  .motto {
    text-align: center;
    padding: 0;
    font-size: 28px;
  }

  .about-us {
    padding: 20px;
    font-size: 14px;
  }

  .services-intro {
    margin: 20px;
    font-size: 14px;
  }

  .services-description {
    font-size: 14px;
  }

  .map {
    width: 100%;
    padding: 10px;
  }

  .form-group {
    padding: 10px;
  }

  .enquiry-form-header {
    padding: 20px 0 0 5px;
  }

  footer {
    font-size: 14px;
  }
}

/* On screens that are 425px or more (Tablets)*/
@media screen and (min-width: 425px) and (max-width: 768px) {
  .navbar i {
    display: none;
  }

  .name {
    text-align: center;
    margin-top: 80px;
    padding: 0;
    font-size: 50px;
  }

  .motto {
    text-align: center;
    padding: 0;
    font-size: 28px;
  }

  .about-us {
    padding: 20px;
  }

  .services-intro {
    margin: 20px;
  }

  .map {
    width: 100%;
    padding: 10px;
  }

  .form-group {
    padding: 10px;
  }

  .enquiry-form-header {
    padding: 20px 0 0 5px;
  }
}

/* On screens that are 768px or more (Laptop)*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .map {
    max-width: 470px;
  }

  .name {
    text-align: center;
    margin-top: 90px;
    padding: 0;
    font-size: 60px;
  }
  .motto {
    text-align: center;
    padding: 0;
  }
}

/* On screens that are 1024px or more (Laptop L) */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}
